<!-- <!DOCTYPE html> <html lang="en"> <head>～</head>まで削除 -->
<!-- <body>とNavigation以下のブロック<nav>～</nav>まで削除-->

<!-- ベーステンプレートを適用する -->
{% extends 'base.html' %}
<!--
 静的ファイルのURLを生成するstaticは
 個々のページで読み込むことが必要
 -->
{% load static %}
<!-- ヘッダー情報のページタイトルは
  ベーステンプレートを利用するページで設定する -->
{% block title %}Django's Blog - Contact{% endblock %}


  <!-- Page Header -->
  <!-- ページのヘッダーはベーステンプレートを利用するページで設定する -->
  {% block header %}
  <!-- ページのヘッダーを設定(ドキュメントの構造に合わせてインデント) -->
  <!-- ヘッダーの背景イメージのリンク先url()の引数をstaticタグに書き換え -->
  <header class="py-5 bg-light border-bottom mb-4"style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">お問い合わせ</h1>
            <p class="lead mb-0">お気軽にお問い合わせください</p>
        </div>
    </div>
</header>
  {% endblock %}

  <!-- Main Content -->
  <!-- ページのコンテンツはベーステンプレートを使用するページで設定する -->
  {% block contents %}
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- 本文を変更 -->
          <strong>連絡を取りたいですか？
                  以下のフォームに記入してメッセージを送信してください。
                  できるだけ早くご連絡します。</strong>
          <!--messageオブジェクトが存在している場合-->
          {% if messages %}

          <ul class="list-unstyled" style="list-style: none;">

            {% for message in messages %}
            <!--tagsでcss色指定-->
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
              <!--メッセージに格納されているメッセージを出力-->
              {{message}}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
  
          <!-- 以下、フォームを表示するためのコード -->
          <div class="my-5">
            <!-- method="post"を追加 -->
            <form method="post" >
              <!--CSRF対策のためのテンプレートタグ-->
              {% csrf_token %}
              <!--formで定義されているfieldの値を取り出す-->
              {% for field in form %}

              <div class="form-floating">
                <div class="form-group floating-label-form-grouop controls">
                  <!--<label>を生成-->
                  {{field.label_tag}}

                  {{field}}

                  <p class="help-block text-danger"></p>
                </div>
              </div>
              {% endfor %}
              
              <!-- <div class="control-group">～</div>までの3ブロックを削除 -->
      
              <br>
              <!-- 送信用のボタン -->
              <button type="submit"
                      class="btn btn-primary"
                      id="sendMessageButton">送信</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <hr>
  </main>
  {% endblock %}

  <!-- Footer以下を削除 -->
